<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/employeeprofile.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
  </head>

  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">Employee</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/views/employeeprofile.html">
            <i class="bx bx-box"></i>
            <span class="links_name">Employee profile</span>
          </a>
        </li>
        <li>
          <a href="/views/employeedetails.html">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Add employeet</span>
          </a>
        </li>
        <li>
          <a href="/views/updateemployee.html">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links_name">Update Employee</span>
          </a>
        </li>
        <li>
          <a href="/views/viewtable.html">
            <i class="bx bx-coin-stack"></i>
            <span class="links_name">view employee</span>
          </a>
        </li>
        <li>
          <a href="/views/employeeprofile.html">
            <i class="bx bx-coin-stack"></i>
            <span class="links_name">Employee Profile</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-book-alt"></i>
            <span class="links_name">Report</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class='bx bx-menu sidebarBtn'></i>
          <span class="dashboard">Employee Profile</span>
        </div>
      </nav>
      <div class="container">
        <!-- Profile Picture -->
        <div class="text-center my-3">
          <img
            src="https://marketplace.canva.com/EAFuJ5pCLLM/1/0/1600w/canva-black-and-gold-simple-business-man-linkedin-profile-picture-BM_NPo97JwE.jpg"
            alt="Profile Picture"
            class="img-thumbnail"
            style="width: 200px"
          />
        </div>

        <!-- Profile Information Form -->
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card">
              
              <button class="btn btn-primary btn-edit" id="editButton">
                Edit
              </button>
              <div class="card-body">
                <form id="profileForm">
                  <div class="mb-3">
                    <label for="empId" class="form-label">Employee ID</label>
                    <input
                      type="text"
                      class="form-control"
                      id="empId"
                      name="empId"
                      required
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      name="firstName"
                      required
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      name="lastName"
                      required
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input
                      type="tel"
                      class="form-control"
                      id="phone"
                      name="phone"
                      required
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea
                      class="form-control"
                      id="address"
                      name="address"
                      rows="3"
                      required
                      disabled
                    ></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="dateOfBirth" class="form-label"
                      >Date of Birth</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="dateOfBirth"
                      name="dateOfBirth"
                      required
                      disabled
                    />
                  </div>
                  <div class="mb-3">
                    <label for="designation" class="form-label"
                      >Designation</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="designation"
                      name="designation"
                      required
                      disabled
                    />
                  </div>
                  <div class="mb-3 form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="status"
                      name="status"
                      disabled
                    />
                    <label class="form-check-label" for="status">Working</label>
                  </div>
                  <div class="mb-3">
                    <label for="department" class="form-label"
                      >Department</label
                    >
                    <select
                      class="form-select"
                      id="department"
                      name="department"
                      required
                      disabled
                    >
                      <option value="HR">HR</option>
                      <option value="IT">IT</option>
                      <option value="Customer Service">Customer Service</option>
                    </select>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-success btn-save"
                    style="display: none"
                  >
                    Save
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/index.js" type="module"></script>
    <script src="../js/employeeProfile.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  </body>
</html>
