<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee management system</title>
    <link rel="stylesheet" href="/css/login.css"> <!-- Link to your CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Google Fonts - Roboto -->
</head>

<body>
    <div class="container-fluid bgcontainerlogin">
        <div class="row px-3">
            <div id='cardContent' class="col-lg-10 col-xl-9 card cardcontent flex-row mx-auto px-0">
                <div class="img-left-login d-none d-md-flex"></div>

                <div class="card-body clbody">
                    <h4 class="title titleMainSides text-center mt-4">
                        Login into account
                    </h4>
                    <form id="loginForm" class="form-box px-3" action="auth/login" method="POST">
                      
                        <div class="form-input">
                            <span><i class="fa fa-envelope-open-text"></i></span>
                            <input type="text" name="username" placeholder="Username" tabindex="10" required>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="mb-3 text-center mb-2">
                            <button type="submit" class="btn btn-block text-uppercase loginBtn">
                                Login
                            </button>
                        </div>
                        <hr class="my-4">
                        

                        <div class="text-center mb-2">
                            Don't have an account?
                            <a href='/views/register.html' class="register-link">
                            Register here
                            </a>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/login.js"></script>
    <script>
      var socket = io();
    </script>
</body>

</html>
