<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name">Employee</span>
  </div>
  <ul class="nav-links">
    <li id="dashboard-link">
      <a href="/views/home.html" class="active">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li id="employee-profile-link">
      <a href="/views/employeeprofile.html">
        <i class="bx bx-box"></i>
        <span class="links_name">Employee profile</span>
      </a>
    </li>
    <li id="add-employee-link">
      <a href="/views/employeedetails.html">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Add employee</span>
      </a>
    </li>
    <li id="update-employee-link">
      <a href="/views/updateemployee.html">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Update Employee</span>
      </a>
    </li>
    <li id="view-employee-link">
      <a href="/views/viewtable.html">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">View Employee</span>
      </a>
    </li>
    <li id="view-employee-payroll-link">
      <a href="/views/viewPayrollEmployee.html">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">Payroll</span>
      </a>
    </li>
    <li id="view-payroll-link">
      <a href="/views/viewPayroll.html">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">Employee Payrolls</span>
      </a>
    </li>
    <li id="view-task-employee-link">
      <a href="/viewTaskEmployee">
        <i class='bx bx-list-ul' ></i>
        <span class="links_name">Assigned Tasks</span>
      </a>
    </li>
    <li id="report-link">
      <a href="#">
        <i class="bx bx-book-alt"></i>
        <span class="links_name">Report</span>
      </a>
    </li>
    <li id="settings-link">
      <a href="#">
        <i class="bx bx-cog"></i>
        <span class="links_name">Settings</span>
      </a>
    </li>
    <li class="log_out">
      <a href="#">
        <i class="bx bx-log-out"></i>
        <span class="links_name">Log Out</span>
      </a>
    </li>
  </ul>
</div>
