/* Styles for employee details page */
/* Form background */
form {
    background-color: #ffffff;
    padding: 20px; /* Optional: Add padding for better spacing */
  }
  
  /* Body */
  body {
    background-color: #0a2558;
  }
  
  /* Card */
  .card {
    margin-top: 50px;
  }
  
  /* Form labels */
  .form-label {
    color: black;
  }
  
  /* Form inputs */
  .form-control {
    background-color: #f8f8f9;
    color: black;
    border-color: black;
  }
  
  
  .btn:hover {
    background-color: #00707C;
    border-color: #00707C;
  }
  
  /* Form button container */
  .container.text-center {
    margin-top: 20px;
  }
  /* Button background */
  button.btn {
    background-color: #0A2558;
    color: white; /* Set text color to white for better visibility */
  }

  /* Form buttons */
.btn {
  background-color: #00ABB3;
  color: white;
  border-color: #00ABB3;
  width: 75px; /* Set width */
  height: 40px; /* Set height */
  font-size: 16px; /* Set font size */
}

.btn-edit {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
